#version: "3.9"

services:
  db:
    image: mariadb:10.6
    container_name: belajar-mariadb
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: belajar_golang
      MYSQL_USER: root
      MYSQL_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    command: --max_connections=30 --innodb_buffer_pool_size=64M --key_buffer_size=8M
    networks:
      - belajar_net
    deploy:
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 256M


  api:
    build: .
    container_name: golang-restfull-api
    depends_on:
      - db
    restart: unless-stopped
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      DB_HOST: db   # Override agar mengarah ke container MariaDB, bukan localhost
    networks:
      - belajar_net
    deploy:
      resources:
        limits:
          memory: 256M
        reservations:
          memory: 128M


volumes:
  db_data:

networks:
  belajar_net:
