#version: "3.9"

services:
  db:
    image: mariadb:10.6
    container_name: belajar-mariadb
    restart: unless-stopped
    env_file:
      - .env.prod
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    command: --max_connections=30 --innodb_buffer_pool_size=64M --key_buffer_size=8M
    networks:
      - belajar_net
    deploy:
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 256M
    # TAMBAHKAN HEALTHCHECK agar kita tahu kapan DB siap
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "${DB_USER}", "-p${DB_PASSWORD}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  # SERVICE BARU UNTUK MIGRASI
  migrate:
    build: . # Build image yang sama dengan 'api'
    container_name: golang-migration-runner
    # 'depends_on' dengan 'condition: service_healthy'
    # Ini memastikan 'migrate' baru jalan setelah 'db' 100% siap
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env.prod
    environment:
      DB_HOST: db # Pastikan ini mengarah ke service 'db'
    networks:
      - belajar_net
    # Override CMD default. Jalankan migrasi, lalu exit.
    command: [ "./server", "-migrate-sql" ]
    # 'on-failure' akan coba lagi jika migrasi gagal (misal DB belum siap)
    restart: on-failure


  api:
    build: .
    container_name: golang-restfull-api
    # 'api' SEKARANG bergantung pada 'migrate'
    # Ini memastikan 'api' baru start SETELAH 'migrate' selesai sukses
    depends_on:
      - migrate
    restart: unless-stopped
    ports:
      - "8080:8080"
    env_file:
      - .env.prod
    environment:
      DB_HOST: db
    networks:
      - belajar_net
    deploy:
      resources:
        limits:
          memory: 256M
        reservations:
          memory: 128M

volumes:
  db_data:

networks:
  belajar_net:
